extend light-layout
block templatePreheader 
  span Please confirm your account email through the link below
block templateHeader
  img(src="./assets/z-header.png", alt="zing.gg logo")
block contentHeader
  td(align="center" valign="top").header-center.h1 Dear stan@zing.gg!
block contentBody
  tr: td(align="center" valign="top").subheader.h1 Please confirm your account email through the link below:
  tr: td(align="center" valign="top").ctablock
    a(href="").light Confirm my account
