extend order-layout
block contentBody
  table#subheaderTable(border="0" cellpadding="0" cellspacing="0" width="100%")
    tr: td
      table.infoTable(border="0" cellpadding="0" cellspacing="0" width="100%")
        tr: th Reference:
        tr: td 3548885 /Zuid-152
      table.infoTable(border="0" cellpadding="0" cellspacing="0" width="100%")
        tr: th Description:
        tr: td Demo order description, Paument of GBR 425,card details not saved.
  table#orderTable(border="0" cellpadding="0" cellspacing="0" width="100%")
    tr: td.h2(colspan='2') Here are the details of your payment and automatic payments profile with BizCase Name
    tr: td.h3(colspan='2') About This Payment
    tr
      td: span.orderLabel Payment ID:
      td(align='right'): span.orderVal 8CQR-TR43-FF3R-65GR
    tr(style='background-color:#F9F9FB')
      td: span.orderLabel Payment date:
      td(align='right'): span.orderVal April 8 2020
    tr
      td: span.orderLabel Payment amount:
      td(align='right'): span.orderVal GBP 39.95
    tr(style='background-color:#F9F9FB')
      td: span.orderLabel You paid with:
      td(align='right'): span.orderVal VISA-XXXX-XXXX-4321
    tr: td.h6(colspan='2') This charge will appear on your billing statement as: <a href="#">BizCase Descriptor</a>
  table#orderTable(border="0" cellpadding="0" cellspacing="0" width="100%")
    tr: td.separateHeader(colspan='2')
      h2 Questions?
      p Contact the BizCase Name Customer service team.
    tr: td.h3(colspan='2') BizCase Customer Service
    tr
      td: span.orderLabel Merchant Website:
      td(align='right'): a(href="").orderVal www.merchantwebsite.com
    tr(style='background-color:#F9F9FB')
      td: span.orderLabel Customer Support Email:
      td(align='right'): a(href="").orderVal support@merchantwebsite.com
    tr
      td: span.orderLabel Customer Support Phone:
      td(align='right'): span.orderVal +44 (0)800 444 4444
    tr(style='background-color:#F9F9FB')
      td: span.orderLabel Service Address:
      td(align='right'): span.orderVal 1234 Wellington Arch<br>London EF12 3EG<br>United Kingdom
    tr
      td: span.orderLabel Registered Name:
      td(align='right'): span.orderVal ABC Mattresses Limited
    tr(style='background-color:#F9F9FB')
      td: span.orderLabel Registration Number:
      td(align='right'): span.orderVal 11798117
    tr
      td: span.orderLabel Registered Country:
      td(align='right'): span.orderVal England & Wales
  table#ctaTable(border="0" cellpadding="0" cellspacing="0" width="100%")
    tr: td.h2 Want to make a Change?
    tr: td.text To make changes to your automatic payment profile or cancel your pre-approval with [BizCase Name] just click here or contact us at the details directly above.
    tr: td: a(href="").btn-cta Make a Change
