extend order-layout
block contentBody
  table#subheaderTable(border="0" cellpadding="0" cellspacing="0" width="100%")
    tr: td
      table.infoTable(border="0" cellpadding="0" cellspacing="0" width="100%")
        tr: th Reference:
        tr: td 3548885 /Zuid-152
      table.infoTable(border="0" cellpadding="0" cellspacing="0" width="100%")
        tr: th Description:
        tr: td Demo order description, Paument of GBR 425,card details not saved.

  table#termsTable(border="0" cellpadding="0" cellspacing="0" width="100%")
    tr: td To Agree to our <a href="">Terms & conditions</a> and secure pay for this order,<br>pleace click on the pay now button below.

  table#payTable(border="0" cellpadding="0" cellspacing="16" width="100%")
    tr: td.h2 Thanks for your recent order from Stanislav Soia for GBR 444.00
    tr: td: a(href="").btn-pay Pay Now
