$fontFamily: system-ui, -apple-system, Roboto, "Helvetica Neue", Arial,
  sans-serif;
$bg: #fafbfd;
$text: #25282c;
$darkBlue: #183c75;
$lightBlue: #3f7bda;

/* Client-specific Styles */
#outlook a {
  padding: 0;
} /* Force Outlook to provide a "view in browser" button. */
body {
  width: 100% !important;
}
.ReadMsgBody {
  width: 100%;
}
.ExternalClass {
  width: 100%;
} /* Force Hotmail to display emails at full width */
body {
  -webkit-text-size-adjust: none;
} /* Prevent Webkit platforms from changing default text sizes. */

/* Reset Styles */
body {
  margin: 0;
  padding: 0;
}
img {
  border: 0;
  height: auto;
  line-height: 100%;
  outline: none;
  text-decoration: none;
}
table td {
  border-collapse: collapse;
}

#backgroundTable {
  height: 100% !important;
  margin: 0;
  padding: 0 0 64px;
  width: 100% !important;
}

/* Template Styles */
body,
#backgroundTable {
  font-family: $fontFamily;
  background-color: $bg;
}

h1,
.h1 {
  margin: 0;
  font-family: $fontFamily;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
}

#templatePreheader {
  font-family: $fontFamily;
  background-color: #fafbfd;
}

#templateContainer {
  font-family: $fontFamily;
  background-color: #ffffff;
  border-radius: 8px;
}

#templateHeader {
  font-family: $fontFamily;
  border-bottom: 1px solid #f1f4f8;
  margin-bottom: 16px;
}

#templateBody {
  font-family: $fontFamily;
  border-bottom: 1px solid #f1f4f8;
  margin-bottom: 16px;
}

#templateFooter {
  font-family: $fontFamily;
}

#templateSocial td {
  padding: 0 4px;
}

.header-center {
  padding: 16px 16px 32px;
  text-align: center;
  color: $darkBlue;
}

.subheader {
  padding: 16px 16px 32px;
  text-align: center;
  color: $text;
}

.ctablock {
  padding: 16px 16px 32px;
  text-align: center;
}

.ctablock a {
  font-family: $fontFamily;
  display: inline-block;
  padding: 16px 32px;
  line-height: 24px;
  font-weight: bold;
  font-size: 15px;
  white-space: nowrap;
  letter-spacing: 0.02em;
  text-decoration: none;
  border-radius: 28px;
  color: #ffffff;
  background-color: $lightBlue;
}

.footer-terms {
  font-family: $fontFamily;
  font-size: 13px;
  line-height: 20px;
}
.footer-terms a {
  color: $lightBlue;
}
