$fontFamily: system-ui, -apple-system, Roboto, "Helvetica Neue", Arial,
  sans-serif;
$bg: #fafbfd;
$text: #25282c;
$darkBlue: #183c75;
$lightBlue: #3f7bda;
$light: #707785;

/* Client-specific Styles */
#outlook a {
  padding: 0;
} /* Force Outlook to provide a "view in browser" button. */
body {
  width: 100% !important;
}
.ReadMsgBody {
  width: 100%;
}
.ExternalClass {
  width: 100%;
} /* Force Hotmail to display emails at full width */
body {
  -webkit-text-size-adjust: none;
} /* Prevent Webkit platforms from changing default text sizes. */

/* Reset Styles */
body {
  margin: 0;
  padding: 0;
}
img {
  border: 0;
  height: auto;
  line-height: 100%;
  outline: none;
  text-decoration: none;
}
table td {
  border-collapse: collapse;
}

#backgroundTable {
  height: 100% !important;
  margin: 0;
  padding: 0 0 64px;
  width: 100% !important;
}

/* Template Styles */
body,
#backgroundTable {
  font-family: $fontFamily;
  background-color: $bg;
}

h1,
.h1 {
  margin: 0;
  font-family: $fontFamily;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
}

#templatePreheader {
  font-family: $fontFamily;
  background-color: #fafbfd;
}

#templateContainer {
  font-family: $fontFamily;
  background-color: #ffffff;
  border-radius: 8px;
}

#contentHeader {
  font-family: $fontFamily;
  border-bottom: 1px solid #f1f4f8;
  margin-bottom: 16px;
}

#contentBody {
  font-family: $fontFamily;
  border-bottom: 1px solid #f1f4f8;
  margin-bottom: 16px;
}

#templateFooter {
  font-family: $fontFamily;
}

#templateSocial td {
  padding: 0 4px;
}

.header-center {
  padding: 16px 16px 32px;
  text-align: center;
  color: $darkBlue;
}

.subheader {
  padding: 16px 16px 32px;
  text-align: center;
  color: $text;
}

.ctablock {
  padding: 16px 8px 32px;
}

.ctablock a {
  font-family: $fontFamily;
  display: inline-block;
  padding: 11px 32px;
  line-height: 24px;
  font-weight: bold;
  font-size: 15px;
  white-space: nowrap;
  letter-spacing: 0.02em;
  text-decoration: none;
  border-radius: 28px;
  color: #ffffff;

  &.light {
    background-color: $lightBlue;
  }
  &.dark {
    background-color: $darkBlue;
  }
}

.footer-terms {
  font-family: $fontFamily;
  font-size: 13px;
  line-height: 20px;
  padding: 16px;
}

.footer-terms a {
  color: $lightBlue;
}

.footer-social {
  padding: 0 0 16px;
}

.textmessage {
  border-radius: 8px;
  background-color: $bg;
  font-family: $fontFamily;
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 16px;
}

.newticket {
  border-left: 3px solid $lightBlue;
  background-color: $bg;
  font-family: $fontFamily;
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 16px;
  padding: 16px;

  &-title {
    font-family: $fontFamily;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 4px;
  }
  &-meta {
    font-family: $fontFamily;
    font-size: 13px;
    line-height: 1.4;
    color: $light;
  }
}

#notify {
  border-top: 1px solid #f1f4f8;
  padding: 16px;

  img {
    display: block;
  }

  a {
    font-family: $fontFamily;
    font-size: 13px;
    line-height: 20px;
    color: $lightBlue;
    text-decoration: none;
  }
}

.status {
  font-family: $fontFamily;
  font-size: 12px;
  line-height: 16px;
  padding: 4px 8px;
  border-radius: 12px;
}
